body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 2000px;
  margin: auto;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  color: #333;
}

/* Área de input */
.input-area {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

input, select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #000b69;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #000b69;
}

/* Layout dos dias */
.semana {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
}

/* Colunas dos dias */
.coluna {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: left;
  min-height: 300px;
}

.coluna h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: #000b69;
}

/* Lista de tarefas */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li span {
  flex: 1;
  margin-left: 10px;
  font-size: 13px;
}

li.concluida span {
  text-decoration: line-through;
  color: gray;
}

li button {
  background: #e74c3c;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
}

li button:hover {
  background: #c0392b;
}
